<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.darkweb.genesisvpn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:stopWithTask="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service android:name=".application.helperManager.OnClearFromRecentService" android:stopWithTask="false" />
        <activity android:name=".application.serverManager.server_controller"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".application.aboutManager.about_controller"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".application.homeManager.home_controller"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="be76c64dae2519d4ab8daaed88298da14c7c294f" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5074525529134731~1412991199"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>